In [1]:
import gempy as gp

WARNING (theano.tensor.blas): Using NumPy C-API based implementation for BLAS functions.

In [2]:
geo_model = gp.create_model("BaseModel")

In [3]:
geo_model.add_series(['A', 'B', 'C'])

                order_series BottomRelation isActive
Default series             1        Erosion    False
A                          2        Erosion      NaN
B                          3        Erosion      NaN
C                          4        Erosion      NaN

In [4]:
geo_model.delete_series(['A', 'B', 'C'])

                order_series BottomRelation isActive
Default series             1        Erosion    False

In [5]:
geo_model.add_series(['A', 'B', 'C'])

                order_series BottomRelation isActive
Default series             1        Erosion    False
A                          2        Erosion      NaN
B                          3        Erosion      NaN
C                          4        Erosion      NaN

In [6]:
geo_model.delete_series(['A', 'B', 'C'])

                order_series BottomRelation isActive
Default series             1        Erosion    False